.homebutton{
    border: 2px solid #34495E;
    border-radius: 25px;
    padding: 5px;
    
}

.buttonhome {
    background: #34495E;
    margin-right: none;
    width: 20px;
    padding: 20px;
    border-radius: 50%;
    }


.homelogo{
    width: 20px;
    position: relative;
    right: 10px;
    bottom: 3px;
}



.buttonmessage {
    background: #34495E;
    margin-right: none;
    width: 20px;
    padding: 20px;
    border-radius: 50%;
    }

.messagelogo{
    width: 20px;
    position: relative;
    right: 10px;
    bottom: 3px;
}

.containertopnavbar{
    padding: 10px;
    height: 60px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
}
.container5{
    color: aliceblue;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) ;
    display: flex;
    /* border: 1px solid #007bff;  */
    border-radius: 25px; 
    
    
}

.searchbar{
    width: 500px;
    border-radius: 25px;
    border: none;
    position: relative;
    left: 70px;
    
}

.searchbarbutton{
    background: none;
    border: none;
    margin-right: 9px;
    position: relative;
    left: 20px;
    
    
}

.categorylogo{
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.category{
    position: absolute;
    top: 10%;
    left: 5%;
    margin-right: -50%;
    display: flex;
    color: #007bff;
}

.city{
    margin-top: auto;
    margin-bottom: auto;
    left: 100%;
    margin-right: -50%;
    display: flex;
    /* color: #007bff; */
}

.logoutbutton{
    color: #007bff;
    margin-left: auto;
    margin-right: auto;
    padding-left: auto;
    padding-right: auto;
    text-align: center;
}

.more{
    width: 20px;
    height: 20px;
    margin: 0;

}

.HAHA{
    border-radius: 50% !important;
    width: 40px;
    height: 40px;
    padding: 0 !important;
    /* color: #007bff !important; */
    background: #34495E  !important;





}
