.sidebarprofileimg{
    height: 150px;
    width:150px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    
    
}

.sidebarprofile{
    margin-top: 31px;
    padding: 5px;
    border-radius: 50%;
    /* background-color: #5D6D7E     */
    height: 160px;
    width:160px;
    margin-right: auto;
    margin-left: auto;

}

.sidebarname{
    margin-top: 15px;
}

.something{
    border: 1px solid #34495E;
    background-color: #5D6D7E;
    border-radius: 5px;
    color:white;
    /* color: black; */
    text-align: center;
    /* display: inline-block; */
    margin-top: 6px;
}

.trendingtags{
    border-radius: 5px;
    background-color: #5D6D7E;
}