.login {
  margin-top: 45%;
  text-align: right;
}

.App{
  width: 100vh;
  height: 100vh;
}

.picture_space{
  background-color: aquamarine;
  height: 100vh;
}

.LoginButton{
  background-color: aquamarine;
}

.Dashboard_Side_Bar{
  background-color: aquamarine;
  height: 100vh;
}